html, body {
	height: 100%;
}
html, body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
  }

.main {
    flex: 1 0 auto;
	width: 50%;
	margin: 0 auto;
}
.page_title {
	text-align: center;
}
.rand_image {
	width: 100%;
	margin-top:10px;
	border: 1em solid black;
}
footer.page-footer {
	padding-top: 0;
}
.brand-logo img {
	display: block;
	height: 1.9em;
}

.pre {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  content-align: center;
  
  justify-content: center;
}
.datapool {
  border: 2px solid black;
  padding: 5px;
  width: 22%;
  min-width: 190px;
  height: 100%;
  margin: 2px;
  background-color: white;
  font-weight: bold;
}
/*Buttons*/
#login-button {
	width: 100%;
}
.btn {
  width: 100%;
}
h1 {
  font-size: 200%;
}
.white-text {
  color: white;
}


@media screen and (min-width: 600px) {
  .brand-logo img {
    display: block;
    height: 2.05em;
  }
  h1 {
    font-size: 400%;
  }
  .datapool {
      margin: 5px;
  }
}